body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pricing {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .32);
}

.card:nth-child(1):before {
    content: "$3 "
}

.card:nth-child(2):before {
    content: "$5 "
}

.card:nth-child(3):before {
    content: "$10 "
}